<header class="nav-menu container d-flex justify-content-between align-items-center">
  <img src="https://img.freepik.com/premium-vector/
  online-shop-logo-designs-concept-vector-online-store-logo-designs_7649-661.jpg"
  class="logo">

  <nav class="nav d-flex justify-content-evenly">
    <%= link_to "Home", root_path %>
    <%= link_to "Katalog", root_path %>
    <%= link_to "Accaunt", root_path %>
    <%= link_to "Cart", root_path %>
  </nav>

  <div id="login"> Login blok </div>

</header>