<p style="color: green"><%= notice %></p>

<%= render partial: 'one_car', locals: { car: @car } %>

<div>
  <%= link_to "Back to cars", cars_path, class: "btn btn-outline-primary" %>
  <%= link_to "Order", new_order_path, class: "btn btn-outline-primary" %>
</div>
